<div class="container-fluid explore-container">
  <div class="row thumbs-container">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h4>Seleziona l'infografica</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2" ng-repeat="viz in vizs">
            <div class="thumb-viz" ng-click="changeViz(viz)" ng-class="{'thumb-viz-active': viz.id == vizSelected.id }" ng-style="{'background-image':'url(images/ignore/' + viz.thumb + ')'}" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-controller">
  <div class="container">
    <div class="row table-controller">
      <div class="col-sm-12">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="tabModel" uib-btn-radio="'info'">Infografica</label>
            <label class="btn btn-primary" ng-model="tabModel" uib-btn-radio="'distribution'">Distribuzione delle risposte</label>
            <label class="btn btn-primary" ng-model="tabModel" uib-btn-radio="'correlation'">Correlazione fra le risposte</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="info" class="container" ng-show="tabModel == 'info'">
  <div class="row">
    <div class="col-sm-6">
      <h5 class="tab-title">descrizione:</h5>
      <p>
        {{vizSelected.titolo}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <iframe
        iframesrc
        frameborder="0"
        src=""
        width="100%"
        height="700"></iframe>
    </div>
  </div>
</div>

<div id="vizs" class="container" ng-show="tabModel == 'distribution' || tabModel == 'correlation'">
  <div class="row">
    <div class="col-sm-9">
      <div id="distribution" ng-show="tabModel == 'distribution'">
        <h5 class="tab-title">Distribuzioni risposte per dimensione di qualità</h5>
        <div violinplot></div>
      </div>
      <div id="correlation" ng-show="tabModel == 'correlation'">
        <h5 class="tab-title">Correlazioni tra dimensioni di qualità</h5>
        <div class="form-group col-sm-6">
          <label class="axis-label">Asse X</label>
          <select class="form-control" ng-model="xAxis" ng-options="d.key for d in dropdown" ng-change="selectChange()">
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label class="axis-label">Asse Y</label>
          <select class="form-control" ng-model="yAxis" ng-options="d.key for d in dropdown"  ng-change="selectChange()">
          </select>
        </div>
        <div matrix></div>
      </div>
    </div>
    <div class="col-sm-3">
      <h5 class="tab-title">FILTRI</h5>
      <div class="filter-head">
        <h5>età</h5>
        <div class="reset" ng-click="filterBarsReset('age')">
          reset
        </div>
      </div>
      <div ng-repeat="age in ages track by age.key">
       <div class="row-label">
         {{age.key? labelDict['age'][age.key] :'sconosciuto'}}
       </div>
       <div class="bars-container">
         <div class="bar"
              ng-class="{'bar-inactive': checkBarInactive('age',age.key)}"
              ng-click="filterBars('age',age.key)"
              ng-style="{'width': devicesScale(age.value) + '%'}">
         </div>
         <div class="bar-value">
             {{age.value}}
         </div>
       </div>
      </div>

      <div class="filter-head">
        <h5>dispositivo</h5>
        <div class="reset" ng-click="filterBarsReset('device')">
          reset
        </div>
      </div>
      <div ng-repeat="device in devices track by device.key">
       <div class="row-label">
         {{device.key?labelDict['device'][device.key]:'sconosciuto'}}
       </div>
       <div class="bars-container">
         <div class="bar"
              ng-class="{'bar-inactive': checkBarInactive('device',device.key)}"
              ng-click="filterBars('device',device.key)"
              ng-style="{'width': devicesScale(device.value) + '%'}">
         </div>
         <div class="bar-value">
             {{device.value}}
         </div>
       </div>
      </div>

      <div class="filter-head">
        <h5>genere</h5>
        <div class="reset" ng-click="filterBarsReset('sex')">
          reset
        </div>
      </div>
      <div ng-repeat="sex in sexes track by sex.key">
       <div class="row-label">
         {{sex.key?labelDict['sex'][sex.key]:'sconosciuto'}}
       </div>
       <div class="bars-container">
         <div class="bar"
              ng-class="{'bar-inactive': checkBarInactive('sex',sex.key)}"
              ng-click="filterBars('sex',sex.key)"
              ng-style="{'width': devicesScale(sex.value) + '%'}">
         </div>
         <div class="bar-value">
             {{sex.value}}
         </div>
       </div>
      </div>

    </div>
  </div>
</div>

<div class="alert-errors" ng-show="errors">
  <h3>Oooops, si è verificato un errore:</h3>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="errors = ''"><span aria-hidden="true">&times;</span></button>
  <pre>{{errors | json }}</pre>
</div>
